html 
  head 
    title Express Test
  body
    form(action='/login', method='post')
      label Email
      input(type='email', name='email')
      label Password
      input(type='password', name='password')

      button(type='submit') Login
    script(src='main.js')